.attack-side{
    display: flex;
    margin-top: 1%;
}

.toggle {
    flex: 1 0 25%;
}

@media screen and (min-width: 600px) {

    .attack-side-dice{
        display: flex;
    }

    .dice {
        flex: 1 0 50%;

    }
}