.ToggleIcon {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 80%;
    margin-top: 1%;
    opacity: 100%;
    transition-duration: 0.5s;
    overflow: hidden;
}

.ToggleIcon:hover {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 80%;
    margin-top: 1%;
    opacity: 80%;
    transition-duration: 0.5s;
    overflow: hidden;
}

.ToggleIconClicked {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 80%;
    margin-top: 1%;
    opacity: 40%;
    transition-duration: 0.5s;
    overflow: hidden;
}

.ToggleIconClicked:hover {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 80%;
    margin-top: 1%;
    opacity: 70%;
    transition-duration: 0.5s;
    overflow: hidden;
}

.parent-container {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .ToggleIcon:hover{
        width: 30%;
    }
    .ToggleIcon{
        width: 30%;
    }
    .ToggleIconClicked:hover{
        width: 30%;
    }
    .ToggleIconClicked{
        width: 30%;
    }
}