.warbands-display {
    display: flex;
    margin: 0 3% 0 3%;
    flex-direction: column;
}

.table {
    border-width: 1px;
    border-style: solid;
    border-color: #dee2e6;
}

.empty-row {
    text-align: left;
}

.pagination-bar {
    display: inline-block;
    float: left;
}

.clear-filters {
    display: inline-block;
    float: right;
    white-space: nowrap;
}
